/*=======================
       העץ עצמו
=========================*/


.tree-header {
    font-size: 14px;
    border-bottom: 1px dotted var(--ui-20);
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid var(--ui-5);
    background: var(--ui-base);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tree-body {
    flex: 1;
    overflow-y: auto;
    padding: 5px;
}

.tree-node {
    padding: 2px 0;
    cursor: pointer;
    font-size: 13px;
    user-select: none;
    line-height: 1.5;
    /* שינוי ברירת מחדל */
    list-style: none;
    display: block;
}

.tree-life {
    display: inline-flex;
    margin-left: 0;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.tree-life:hover {
    background-color: var(--ui-15);
}

.tree-life.selected {
    background-color: var(--ui-base);
    font-weight: bold;
}

.tree-node-content {
    min-width: 120px;
    display: inline-block;
    flex: 1;
    padding: 0 14px 0 5px;
    border-radius: 10px;
}

.tree-node-toggle {
    display: inline-block;
    width: 15px;
    font-size: 14px;
    /* הגדלת האייקון */
    background: none;
    color: var(--ui-80);
    border: none;
    cursor: pointer;
    text-align: center;
    align-self: flex-end;
    /* יישור לחלק התחתון של הפלקס */
    margin-left: 5px;
    margin-right: auto;
    /* דחיפה שמאלה (RTL) */
}

.tree-node-toggle:hover {
    color: #01264e;
}

.tree-children {
    /* הזחה של ילדים */
    margin: 0;
    padding: 0;
    margin-right: 7px;
    padding-right: 7px;
    display: none;
    /* מוסתר כברירת מחדל */
    border-right: 1px solid var(--ui-15);
}

.tree-node.open>.tree-children {
    display: block;
}

/* כפתור תפריט (3 נקודות) */
.tree-node-menu-btn {
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    color: var(--ui-45);
    /* דוחף את עצמו לצד השני (ב-RTL זה לשמאל) */
    border-radius: 10px;
}

.tree-node-menu-btn:hover {
    color: var(--ui-80);
    border-right: 3px solid var(--ui-5);
    box-shadow: 2px 2px 5px rgba(248, 248, 248, 0.1);
    transition: border-width 0.1s;
}



/*===============================
         תפריט קליק ימני 
================================ */



#tree-menu {
    position: fixed;
    z-index: 100;
    background: var(--ui-base);
    border: 1px solid var(--ui-20);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 5px 0;
    display: none;
    /* מוסתר ברירת מחדל */
    min-width: 150px;
}

.menu-hr {
    height: 1px;
    background: var(--ui-10);
    margin: 3px 0;
}

.tree-menu-item {
    padding: 8px 15px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 13px;
    color: var(--ui-80);
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.1s;
}

.tree-menu-item:hover {
    background-color: var(--ui-5);
    color: var(--ui-accent);
}

.tree-menu-item span {
    font-size: 16px;
    /* גודל האייקון */
}







/*==========================
       מתג ויזואלי
===========================*/




.toggle-input {
    display: none;
}

/* 2. מעצבים את ה-label שיראה כמו "מסילה" */
.toggle-switch {
    cursor: pointer;
    display: inline-block;

    width: 36px;
    /* רוחב המפסק */
    height: 18px;
    /* גובה המפסק */

    background-color: var(--ui-20);
    /* צבע כשהוא כבוי */
    border-radius: 9px;
    /* חצי מהגובה, כדי שיהיה מעוגל */

    position: relative;
    /* חשוב כדי למקם את העיגול הפנימי */
    transition: background-color 0.2s;
    /* אנימציה נחמדה לצבע */
}

/* 3. מעצבים את "הכפתור העגול" שזז */
.toggle-switch::before {
    content: "";
    position: absolute;

    width: 12px;
    /* גודל העיגול */
    height: 12px;
    border-radius: 50%;
    /* עיגול מושלם */
    background-color: var(--ui-base);

    /* מיקום התחלתי (כבוי) */
    top: 3px;
    left: 3px;

    /* אנימציה נחמדה לתנועה */
    transition: transform 0.1s;
}


.toggle-switch:hover {
    background-color: var(--ui-25);
}

/* הקסם: מה קורה כשהצ'קבוקס "מסומן" (checked) */
/* כשהאינפוט מסומן, שנה את צבע הרקע של ה-label שלידו */
.toggle-input:checked+.toggle-switch {
    background-color: var(--ui-accent);
}

.toggle-input:checked+.toggle-switch:hover {
    background-color: var(--ui-accent-focus);
}

/* כשהאינפוט מסומן, הזז את הכפתור העגול ימינה */
.toggle-input:checked+.toggle-switch::before {
    /* הרוחב הכולל הוא 50, הכפתור 22, המרווח 2.
     אז 50 פחות 22 פחות 2 = 26px 
  */
    transform: translateX(18px);
}



/*================================
   --- עיצוב מצב גרירה בעץ --- 
=================================*/



/* === מצבי גרירה בעץ === */


/* האלמנט בזמן שהוא נגרר בפועל */
.tree-node.dragging .tree-node-content {
    opacity: 0.5;
    background-color: var(--ui-10);
}

/* היעד שאנחנו מרחפים מעליו (Drop Target) */
.tree-node.drag-over .tree-node-content {
    background-color: var(--ui-20);
    /* כחול בהיר */
    border-top: 2px solid var(--ui-accent);
    border: 1px dashed var(--ui-accent);
    /* סימון איפה זה ייכנס */
}

/*========  חדש  ============*/


/* כשהעץ במצב גרירה, השורות יקבלו מסגרת וסמן הזזה */
#panel-tree.drag-mode .tree-node-content {
    cursor: move;
    /* סמן של הזזה */
    border: 1px dashed var(--ui-20);
    /* מסגרת מקווקוות */
    background-color: var(--ui-5);
    /* רקע בהיר שונה */
    padding: 2px 5px;
    border-radius: 4px;
    margin-bottom: 2px;
    transition: all 0.2s;
}

/* אפקט בריחוף מעל שורה בזמן מצב גרירה */
#panel-tree.drag-mode .tree-node-content:not(.document-page):hover {
    background-color: var(--ui-25);
    border-color: var(--ui-45);
    transform: translateX(-2px);
    /* תזוזה קטנה לתחושת "ציפה" */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#panel-tree.drag-mode .tree-life:hover {
    background-color: var(--ui-5);
}

#panel-tree.drag-mode .tree-life.selected {
    background: none;
}

#panel-tree.drag-mode .tree-node-menu-btn:hover {
    box-shadow: none;
    border-right: 2px solid var(--ui-5);
}