.panel-header {
    padding: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.panel-header-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

#panels {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}